{%  load static %}
<!-- templates/authentication/password_reset_email.html -->
{% load i18n %}{% autoescape off %}
{% trans "Vous recevez cet email car vous avez demandé une réinitialisation du mot de passe" %} {{ email }}.

{% trans "Veuillez cliquer sur le lien suivant pour choisir un nouveau mot de passe:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Votre nom d'utilisateur, pour mémoire:" %} {{ user.get_username }}

{% trans "Merci d'utiliser WIM Platform!" %}

{% trans "L'équipe WIM Platform" %}

{% endautoescape %}